.git
coverage.xml
.env
.coverage
integration-tests/test_data*
astronomer_sql_decorator.egg-info
test-connections.yaml
.idea
.env
airflow_settings.yaml
*.pyc
*/__pycache__/*
.idea%
/build/
/dist/

# Benchmark
airflow.db
airflow.cfg
unittests.db
unittests.cfg
tests/benchmark/logs/*
tests/benchmark/webserver_config.py

# VIM
*.sw[a-z]

# MacOS
.DS_Store
*/.DS_Store

# Terraform
**/.terraform/*
**/.terraform.lock.hcl

# Sphinx-related
docs/_build
docs/sphinx/_build/*
docs/logs/
docs/webserver_config.py
docs/autoapi/
