.git
coverage.xml
.env
.coverage
integration-tests/test_data*
astronomer_sql_decorator.egg-info
test-connections.yaml
.idea
.env
airflow_settings.yaml
*.pyc
*/__pycache__/*
.idea%
/build/
/dist/
airflow.db
airflow.cfg
unittests.db
unittests.cfg
tests/benchmark/logs/*
tests/benchmark/webserver_config.py
*.sw[a-z]
docs/sphinx/_build/*