---
ci:
  skip:
    - mypy  # requires additional dependencies in ci
    - identity  # output is too verbose for ci; pre-commit.ci truncates almost all output after that
default_stages: [commit, push]
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.9
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: meta
    hooks:
      - id: identity
      - id: check-hooks-apply

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: detect-private-key
      - id: detect-aws-credentials
        args: [ "--allow-missing-credentials" ]
      - id: pretty-format-json
        args: ['--autofix']
      - id: name-tests-test
        args: ['--pytest-test-first']
        exclude: |
          (?x)
          ^python-sdk/tests/benchmark/.*|
          ^python-sdk/tests/utils/.*|
          ^python-sdk/tests/sql/operators/utils.py|
          ^python-sdk/tests/integration_test_dag.py
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
      - id: python-no-log-warn
      - id: python-check-mock-methods

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
        exclude: ^python-sdk/mk/|^python-sdk/docs/Makefile|^python-sdk/Makefile$|^python-sdk/tests/benchmark/Makefile$
      - id: remove-tabs
        exclude: ^python-sdk/mk/|^python-sdk/docs/Makefile|^python-sdk/Makefile$|^python-sdk/tests/benchmark/Makefile$

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ["--config", "./python-sdk/pyproject.toml"]

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        alias: black
        additional_dependencies: [black>=22.10.0]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.1.9'
    hooks:
      - id: ruff
        args:
        - --config=./ruff.toml

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        name: Run codespell to check for common misspellings in files
        language: python
        types: [text]
        exclude: ^mk/.*\.mk$|^python-sdk/docs/Makefile|^python-sdk/Makefile$|^python-sdk/tests/modified_constraint_file.txt$|^python-sdk/tests/benchmark/Makefile$
  -   repo: https://github.com/pre-commit/mirrors-mypy
      rev: 'v1.8.0'
      hooks:
      - id: mypy
        name: mypy-python-sdk
        additional_dependencies: [types-PyYAML, types-attrs, attrs, types-requests, types-python-dateutil]
        files: "^python-sdk/"

  -   repo: https://github.com/asottile/pyupgrade
      rev: v3.15.0
      hooks:
      -   id: pyupgrade
          args: [--py37-plus]

  - repo: local
    hooks:
    - id: check-context-typing-compat
      name: Ensure modules use local typing compat for airflow.utils.context.Context
      entry: python-sdk/dev/scripts/pre_commit_context_typing_compat.py
      language: python
      pass_filenames: false
    - id: sync-readme
      name: Update readme file with supported Databases, file location and file types
      entry: python-sdk/dev/scripts/pre_commit_readme_sync.py
      language: python
      files: python-sdk/src/astro/constants.py
