aiobotocore==2.4.1
aiofiles==0.8.0
aiohttp==3.8.3
aioitertools==0.11.0
aiosignal==1.3.1
alembic==1.9.0
anyio==3.6.2
apache-airflow==2.2.5
apache-airflow-providers-amazon==6.0.0
apache-airflow-providers-common-sql==1.3.1
apache-airflow-providers-ftp==3.2.0
apache-airflow-providers-google==8.4.0
apache-airflow-providers-http==4.1.0
apache-airflow-providers-imap==3.1.0
apache-airflow-providers-postgres==5.2.2
apache-airflow-providers-snowflake==3.3.0
apache-airflow-providers-sqlite==3.3.1
apispec==3.3.2
argcomplete==2.0.0
asgiref==3.5.2
asn1crypto==1.5.1
astro-sdk-python==1.3.3
async-timeout==4.0.2
attrs==20.3.0
azure-common==1.1.28
azure-core==1.26.1
azure-storage-blob==12.14.1
Babel==2.11.0
backoff==2.2.1
beautifulsoup4==4.11.1
blinker==1.5
boto3==1.24.59
botocore==1.27.59
build==0.9.0
cachelib==0.9.0
cachetools==5.2.0
cattrs==1.10.0
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
click==7.1.2
clickclick==20.10.2
colorama==0.4.6
colorlog==6.7.0
commonmark==0.9.1
connexion==2.14.1
croniter==1.3.8
cryptography==36.0.2
db-dtypes==1.0.5
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.6
distlib==0.3.6
dnspython==2.2.1
docutils==0.16
email-validator==1.3.0
filelock==3.8.2
Flask==1.1.4
Flask-AppBuilder==3.4.5
Flask-Babel==2.0.0
Flask-Caching==1.11.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
frozenlist==1.3.3
fsspec==2022.11.0
future==0.18.2
gcloud-aio-auth==4.0.1
gcloud-aio-bigquery==6.1.2
gcloud-aio-storage==7.0.1
google-ads==18.0.0
google-api-core==2.8.2
google-api-python-client==1.12.11
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
google-cloud-aiplatform==1.16.1
google-cloud-appengine-logging==1.1.3
google-cloud-audit-log==0.2.4
google-cloud-automl==2.8.0
google-cloud-bigquery==2.34.4
google-cloud-bigquery-datatransfer==3.7.0
google-cloud-bigquery-storage==2.14.1
google-cloud-bigtable==1.7.3
google-cloud-build==3.9.0
google-cloud-container==2.11.1
google-cloud-core==2.3.2
google-cloud-datacatalog==3.9.0
google-cloud-dataform==0.2.0
google-cloud-dataplex==1.1.0
google-cloud-dataproc==5.0.0
google-cloud-dataproc-metastore==1.6.0
google-cloud-dlp==1.0.2
google-cloud-kms==2.12.0
google-cloud-language==1.3.2
google-cloud-logging==3.2.1
google-cloud-memcache==1.4.1
google-cloud-monitoring==2.11.0
google-cloud-orchestration-airflow==1.4.1
google-cloud-os-login==2.7.1
google-cloud-pubsub==2.13.5
google-cloud-redis==2.9.0
google-cloud-resource-manager==1.6.0
google-cloud-secret-manager==1.0.2
google-cloud-spanner==1.19.3
google-cloud-speech==1.3.4
google-cloud-storage==1.44.0
google-cloud-tasks==2.10.1
google-cloud-texttospeech==1.0.3
google-cloud-translate==1.7.2
google-cloud-videointelligence==1.16.3
google-cloud-vision==1.0.2
google-cloud-workflows==1.7.1
google-crc32c==1.5.0
google-resumable-media==2.4.0
googleapis-common-protos==1.56.4
graphviz==0.20.1
grpc-google-iam-v1==0.12.4
grpcio==1.51.1
grpcio-gcp==0.2.2
grpcio-status==1.48.2
gunicorn==20.1.0
h11==0.14.0
httpcore==0.16.2
httplib2==0.21.0
httpx==0.23.1
idna==3.4
importlib-metadata==5.2.0
inflection==0.5.1
iso8601==1.1.0
isodate==0.6.1
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==1.0.1
json-merge-patch==0.2
jsonpath-ng==1.5.3
jsonschema==3.2.0
lazy-object-proxy==1.8.0
lockfile==0.12.2
looker-sdk==22.20.0
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.0.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
msrest==0.7.1
multidict==6.0.3
mypy-boto3-appflow==1.26.32
mypy-boto3-rds==1.26.33
mypy-boto3-redshift-data==1.26.30
nox==2022.11.21
numpy==1.24.0
oauthlib==3.2.2
openlineage-airflow==0.18.0
openlineage-integration-common==0.18.0
openlineage-python==0.18.0
openlineage_sql==0.18.0
oscrypto==1.3.0
packaging==21.3
pandas==1.5.2
pandas-gbq==0.17.9
pendulum==2.1.2
pep517==0.13.0
pip==22.3.1
platformdirs==2.6.0
ply==3.11
prison==0.2.1
proto-plus==1.19.6
protobuf==3.20.0
psutil==5.9.4
psycopg2==2.9.5
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodomex==3.16.0
pydata-google-auth==1.4.0
Pygments==2.13.0
PyJWT==1.7.1
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyrsistent==0.19.2
python-daemon==2.3.2
python-dateutil==2.8.2
python-frontmatter==1.0.0
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2022.7
pytzdata==2020.1
PyYAML==6.0
redshift-connector==2.0.909
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3986==1.5.0
rich==12.6.0
rsa==4.9
s3fs==2022.11.0
s3transfer==0.6.0
scramp==1.4.4
setproctitle==1.3.2
setuptools==58.1.0
six==1.16.0
smart-open==6.2.0
sniffio==1.3.0
snowflake-connector-python==2.9.0
snowflake-sqlalchemy==1.2.4
soupsieve==2.3.2.post1
SQLAlchemy==1.3.24
sqlalchemy-bigquery==1.5.0
SQLAlchemy-JSONField==1.0.1.post0
sqlalchemy-redshift==0.8.12
SQLAlchemy-Utils==0.38.3
sqlparse==0.4.3
swagger-ui-bundle==0.0.9
tabulate==0.8.10
tenacity==8.1.0
termcolor==2.1.1
text-unidecode==1.3
tomli==2.0.1
typing_extensions==4.4.0
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.26.13
virtualenv==20.17.1
watchtower==2.0.1
Werkzeug==1.0.1
wheel==0.38.4
wrapt==1.14.1
WTForms==2.3.3
yarl==1.8.2
zipp==3.11.0
