name: GitHub Actions Demo
on: [push]
jobs:
  Pre-Commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: 'x64'
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ hashFiles('pyproject.toml') }}
      - uses: pre-commit/action@v2.0.3
  Run-Unit-tests:
    runs-on: ubuntu-latest
    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: dimberman/pagila-test
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: 'x64'
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ hashFiles('pyproject.toml') }}
      - run: cat ci-test-connections.yaml > test-connections.yaml
      - run: pip3 install nox
      - run: nox -s test
        env:
          # The hostname used to communicate with the PostgreSQL service container
          POSTGRES_HOST: postgres
          # The default PostgreSQL port
          POSTGRES_PORT: 5432
          AIRFLOW__SQL_DECORATOR__CONN_AWS_DEFAULT: ${{ secrets.AWS_ACCESS_CRED }}
          SNOWFLAKE_ACCOUNT_NAME: ${{ secrets.SNOWFLAKE_UNAME }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_SCHEMA: SANDBOX_AIRFLOW_TEST
          SNOWFLAKE_DATABASE: DWH_LEGACY
          SNOWFLAKE_WAREHOUSE: TRANSFORMING_DEV
          SNOWFLAKE_HOST: https://gp21411.us-east-1.snowflakecomputing.com
          SNOWFLAKE_ACCOUNT: gp21411
          SNOWFLAKE_REGION: us-east-1
          SNOWFLAKE_ROLE: TRANSFORMER
          AIRFLOW__CORE__ENABLE_XCOM_PICKLING: True

